---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import Separator from "../components/Separator.astro";
import PlaceDetail from "../components/PlaceDetail.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Betty Nansen Teatret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Nav />
    <main>
      <PlaceDetail
        title="BETTY NANSEN TEATRET"
        img1="/imgs/betty1.png"
        img2="/imgs/betty2.png"
        img3="/imgs/betty3.png"
        venueName="BETTY NANSEN TEATRET"
        addressLine1="Frederiksberg Allé 57"
        addressLine2="1820 Frederiksberg C"
        instagramHandle="@bettynansenteatret"
        facebookLabel="bettynansen.dk"
      />
      <Separator />
      <Carousel />
    </main>
    <Footer />
  </body>
</html>

<style>
  :root {
    --max: 1200px;
  }
</style>
