---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import Separator from "../components/Separator.astro";
import PlaceDetail from "../components/PlaceDetail.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bibliotekshaven</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Nav />
    <main>
      <PlaceDetail
        title="BIBLIOTEKSHAVEN"
        img1="/imgs/biblio1.png"
        img2="/imgs/biblio2.png"
        img3="/imgs/biblio3.png"
        venueName="BIBLIOTEKSHAVEN"
        addressLine1="Proviantpassagen 1"
        addressLine2="1218 Copenhagen K"
        instagramHandle="@detkglbibliotek"
        facebookLabel="kb.dk"
      />
      <Separator />
      <Carousel />
    </main>
    <Footer />
  </body>
</html>

<style>
  :root {
    --max: 1200px;
  }
</style>
