---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import Separator from "../components/Separator.astro";
import PlaceDetail from "../components/PlaceDetail.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Glyptoteket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Nav />
    <main>
      <PlaceDetail
        title="GLYPTOTEKET"
        img1="/imgs/glypto1.png"
        img2="/imgs/glypto2.png"
        img3="/imgs/glypto3.png"
        venueName="GLYPTOTEKET"
        addressLine1="Dantes Plads 7"
        addressLine2="1556 Copenhagen K"
        instagramHandle="@glyptoteket"
        facebookLabel="glyptoteket.dk"
      />
      <Separator />
      <Carousel />
    </main>
    <Footer />
  </body>
</html>

<style>
  :root {
    --max: 1200px;
  }
</style>
