---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Creative Escape</title>
  </head>
  <body>
    <Nav />
    <Header />
    <main>
      <slot />
      <!-- Page content goes here -->
    </main>
  </body>
</html>
