---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import Separator from "../components/Separator.astro";
import PlaceDetail from "../components/PlaceDetail.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Je t'aime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Nav />
    <main>
      <PlaceDetail
        title="JE T’AIME"
        img1="/imgs/jetaime1.png"
        img2="/imgs/jetaime2.png"
        img3="/imgs/jetaime3.png"
        venueName="JE T’AIME"
        addressLine1="Dybbølsgade 9"
        addressLine2="1721 Copenhagen V"
        instagramHandle="@jetaimepics"
        facebookLabel="jetaime.dk"
      />
      <Separator />
      <Carousel />
    </main>
    <Footer />
  </body>
</html>

<style>
  :root {
    --max: 1200px;
  }
</style>
