---
import "../styles/global.css";
---

<header class="site-header">
  <h1 class="site-title">
    <span class="bold">CRTV ESC</span>
    <span class="light">COMMUNITY</span>
  </h1>
</header>

<style>
  .site-title {
    font-size: 4rem;

    display: block;
    margin: auto;
  }
  .site-title .bold {
    font-weight: 800;
    color: var(--color-blue);
  }
  .site-title .light {
    font-weight: 300;
    color: var(--color-blue);
  }
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-bg);
  }
</style>
