---
import "../styles/global.css";
---

<nav class="top-nav">
  <!-- Far left icon -->
  <img
    src="../imgs/nav_icon_burger.png"
    alt="burger menu"
    class="nav-icon nav-left"
  />

  <!-- Right group -->
  <div class="nav-right">
    <a href="/">
      <img src="../imgs/nav_icon_logo.png" alt="logo icon" class="nav-icon" />
    </a>

    <div class="nav-links">
      <a href="#">LOCAL CRTV</a>
      <a href="#">FREE GEM</a>
      <a href="/harbo">CRTV ESC RECOMMEND</a>
      <a href="#">EVENTS</a>
    </div>

    <img src="../imgs/nav_icon_zoom.png" alt="Search" class="nav-icon" />
  </div>
</nav>

<style>
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Space";
    src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--color-text);
  }
  .nav-links a:hover {
    color: var(--color-blue);
  }

  .nav-icon {
    height: 28px;
    width: auto;
    cursor: pointer;
  }
  .nav-left {
    height: 15px;
  }
</style>
